.variables-category-grid {
	display: grid;

	column-gap: 10px;
	row-gap: 10px;

	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;

	align-content: stretch;

	@media (max-width: 991.98px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 767.98px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 575.98px) {
		grid-template-columns: 1fr;
	}
}
