@use 'sass:color';
@use 'scss/variables'; // local definitions not related to @coreui definitions

$local-header-bg: #d50215; // needed for both $header-bg and the adjust() call, below.

// pass all remaining local definitions that are meant to override @coreui defaults:
// note that Sass will issue a strange error message if a variable specified here is not already in coreui. (As of Sass 1.89)
@use '@coreui/coreui/scss/coreui' as * with (
	$primary: #d50215,
	$secondary: #ccc,
	$body-bg: #333,
	$light: #e9e9e9,

	$header-bg: $local-header-bg,
	//$header-border: ( // can't do: causes @use "redifined" error (because it's not defined in coreui, apparently)
	$header-color: #fff,
	$header-brand-color: #fff,
	$header-brand-hover-color: #fff,
	$sidebar-bg: #111,
	$sidebar-brand-bg: color.adjust($local-header-bg, $lightness: -10%),
	$form-switch-color: #fff,
	$form-switch-checked-color: #fff,
	$form-switch-focus-color: #fff,
	$form-switch-widths: (
		xl: (
			width: 2.75em,
			height: 1.5em,
		),
	),

	$btn-font-size-sm: 12px,
	$btn-font-size: 0.9rem,

	$modal-content-bg: #fff,
	$table-bg: #fff,
	$dropdown-bg: #fff,

	$card-bg: #f7f7f7,

	$sidebar-nav-link-padding-x: 0.5rem
	// $variable-padding: 1px 3px 0px // can't do; not in coreui
);

// note: the following could be imported without the ""as *" as long as they don't define new variables
//  but there's no harm in doing it this way, and it could avoid headaches down the line.
@use 'scss/react-time-picker' as *;
@use 'scss/react-date-picker' as *;

@use 'scss/layout' as *;
@use 'scss/common' as *;
@use 'scss/tablet' as *;
@use 'scss/emulator' as *;
@use 'scss/modules-manage' as *;

@use 'scss/action-recorder' as *;
@use 'scss/button-control' as *;
@use 'scss/button-edit' as *;
@use 'scss/button-grid' as *;
@use 'scss/page-list' as *;
@use 'scss/cloud' as *;
@use 'scss/controls' as *;
@use 'scss/instances' as *;
@use 'scss/loading' as *;
@use 'scss/log' as *;
@use 'scss/presets' as *;
@use 'scss/settings' as *;
@use 'scss/wizard' as *;
@use 'scss/import-export' as *;
@use 'scss/collections-nesting-table' as *;

body {
	overflow: hidden;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-duration: 1s;
	animation-name: fadeIn;
}

.p-no-margin {
	margin: 0;
}

#error-container,
#current-import-container {
	display: none;
	opacity: 0;
	width: 100%;
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	height: 100%;
	z-index: 15000;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 100px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;

	transition: opacity 0.3s ease-in-out;

	&.show-error {
		display: block;
		opacity: 1;
	}

	.text-muted {
		color: #ccc !important;
	}
}

.page-getting-started {
	background-color: white;
	padding: 1px;

	min-height: 100vh;

	> div {
		margin: 1em auto;
		max-width: 860px;
		line-height: 1.5rem;
		tab-size: 4;

		img {
			max-width: 100%;
		}
	}
}

.modal-body img {
	// Cap images in modals to be the width of the modal
	max-width: 100%;
}

.unstable-warning {
	z-index: 10000;
}

.install-name {
	padding: 0 var(--cui-header-nav-link-padding-x);
	color: var(--cui-header-color);

	align-content: center;
	font-size: 1.25em;
	font-weight: bold;
}

.header-update-warn {
	border-radius: 6px;
	margin-left: 1em;
	background-color: #333;
}

.header-update-icon {
	margin-right: 0.5em;
}

.section {
	border: 0.5px solid var(--cui-border-color);
	border-left: 2px solid var(--cui-border-color);
	padding: 1rem;
	border-radius: 4px;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

.variable-style {
	font-family: monospace;
	padding: variables.$variable-padding;
	color: $primary;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: -0.15;
	border-radius: 6;
	display: inline-block;
}

.toast {
	color: white;
	margin-left: 10px;
	margin-top: 5px;
}
.toast-header {
	color: #eee;
	font-weight: bold;
	font-size: 16px;

	padding: 10px 15px;
}

.toast-body {
	padding: 10px 15px 15px 15px;
	font-size: 14px;
}

.inline-help {
	color: white;
	font-size: 14px;
	font-weight: normal;
	border-radius: 3px;
}

.inline-help-outer {
	cursor: help;
}

.action-description {
	border-left: 5px solid #ddd;
	padding-left: 10;
}

.mt-10 {
	margin-top: 10px;
}

.no-break {
	white-space: nowrap;
}
