// ─── Collapse ────────────────────────────────────────────────────────────────

.collapse2-panel {
	--collapse2-transition-duration: 0.35s;
	--collapse2-transition-easing: ease;

	overflow: hidden;
	height: var(--collapsible-panel-height);
	transition: height var(--collapse2-transition-duration) var(--collapse2-transition-easing);

	&[data-starting-style],
	&[data-ending-style] {
		height: 0;
	}

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}
