@use '../variables' as *;
@use '../common'; // updates .form-control background-color (rearranging the @use lines in App.scss doesn't work)

.text-input-field {
	// Future: replace this with css we control
	@extend .form-control;

	&:focus {
		// Dont change background color on focus
		background-color: #ffffff;
	}

	&:read-only {
		background-color: #eeeeee;
	}

	&.invalid-value {
		color: red;
	}

	&.no-focus {
		outline: none;
		box-shadow: none;
	}
}
