.connection-group-nested {
  position: relative;
}

.connection-group-nested:before {
  content: '';
  position: absolute;
  left: 10px;
  top: -10px;
  height: calc(100% + 10px);
  width: 1px;
  background-color: #ccc;
  z-index: 1;
}

.connection-group-nested:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 10px;
  height: 1px;
  background-color: #ccc;
  z-index: 1;
}


.collapsible-group-header.dragging {
  opacity: 0.5;
}





/* Style while actively dragging */
.td-reorder:active {
  cursor: grabbing;
}

/* Change pointer when hovering over expand/collapse caret */
.caret-icon {
  cursor: pointer;
}
