# Run companion and the webui on alternate ports, to avoid conflicts with another version
# Note: this doesnt support adjusting satellite or some other fixed ports
COMPANION_APP_PORT=8001
COMPANION_UI_PORT=5174

# Specify an alternate path to load dev modules from, instead of the module-local-dev folder inside the repository.
# COMPANION_DEV_MODULES=

# Connect the webui to an external companion instance.
# If both this and COMPANION_APP_PORT are set, this will take precedence
# UPSTREAM_URL=localhost:8000
