[submodule "bitfocus-skeleton"]
	path = bitfocus-skeleton
	url = https://github.com/bitfocus/bitfocus-skeleton.git
[submodule "bitfocus-libs"]
	path = bitfocus-libs
	url = https://github.com/bitfocus/bitfocus-libs.git
[submodule "lib/module/avplayback"]
	path = lib/module/avplayback
	url = git@github.com:bitfocus/companion-module-avplayback.git
[submodule "lib/module/pds"]
	path = lib/module/pds
	url = git@github.com:bitfocus/companion-module-pds.git
[submodule "lib/module/osc"]
	path = lib/module/osc
	url = git@github.com:bitfocus/companion-module-osc.git
