[submodule "bitfocus-skeleton"]
	path = bitfocus-skeleton
	url = https://github.com/bitfocus/bitfocus-skeleton.git
[submodule "bitfocus-libs"]
	path = bitfocus-libs
	url = https://github.com/bitfocus/bitfocus-libs.git
