{
	"arrowParens": "always",
	"bracketSpacing": true,
	"printWidth": 120,
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"endOfLine": "lf",
	"trailingComma": "es5",
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
