.alphaRoot {
	position: absolute;
	inset: 0px;
	border-radius: 2px;
}

.alphaCheckboard {
	position: absolute;
	inset: 0px;
	overflow: hidden;
	border-radius: 2px;
}
.alphaGradient {
	position: absolute;
	inset: 0px;
	background: linear-gradient(
		to right,
		rgba(var(--color-rgb-r), var(--color-rgb-g), var(--color-rgb-b), 0) 0%,
		rgba(var(--color-rgb-r), var(--color-rgb-g), var(--color-rgb-b), 1) 100%
	);
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.15),
		inset 0 0 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}
.alphaContainer {
	position: relative;
	height: 100%;
	margin: 0 3px;
}
.alphaPointer {
	position: absolute;
	left: calc(var(--color-rgb-a) * 100%);
}
.alphaSliderHandle {
	width: 4px;
	border-radius: 1px;
	height: 8px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	background: #fff;
	margin-top: 1px;
	transform: translateX(-2px);
}
