.hueRoot {
	position: absolute;
	inset: 0px;
}

.hueContainer {
	padding: 0 2px;
	position: relative;
	height: 100%;
	border-radius: 2px;

	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.15),
		inset 0 0 4px rgba(0, 0, 0, 0.25);

	background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
	background: -webkit-linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

.huePointer {
	position: absolute;
	left: calc((var(--color-hsv-h) / 360) * 100%);
}
.hueSliderHandle {
	margin-top: 1px;
	width: 4px;
	border-radius: 1px;
	height: 8px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
	background: #fff;
	transform: translateX(-2px);
}
