.saturationRoot {
	position: absolute;
	inset: 0px;
	background: hsl(var(--color-hsv-h), 100%, 50%);
	border-radius: 3px;
}

.saturationBlackOverlay {
	position: absolute;
	inset: 0px;
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.15),
		inset 0 0 4px rgba(0, 0, 0, 0.25);
	border-radius: 3px;

	background: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
	background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.saturationWhiteOverlay {
	position: absolute;
	inset: 0px;
	border-radius: 3px;

	background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.saturationPointer {
	position: absolute;
	top: calc((100 - var(--color-hsv-v)) * 1%);
	left: calc(var(--color-hsv-s) * 1%);
}
.saturationPointerCircle {
	width: 4px;
	height: 4px;
	box-shadow:
		0 0 0 1.5px #fff,
		inset 0 0 1px 1px rgba(0, 0, 0, 0.3),
		0 0 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	cursor: all-scroll;
	transform: translate(-2px, -2px);
}
