.swatchRoot {
	margin: 0 -10px;
	padding: 10px 0 0 10px;
	border-top: 1px solid #eee;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.swatchWrap {
	width: 16px;
	height: 16px;
	margin: 0 10px 10px 0;
}

.swatchTile {
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: relative;
	outline: none;

	border-radius: 3px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
	font-size: 14px;
	text-align: center;
	line-height: 16px;
	font-weight: bold;
}
