/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #d50215;
	--ifm-color-primary-dark: #bf0213;
	--ifm-color-primary-darker: #b40212;
	--ifm-color-primary-darkest: #94010f;
	--ifm-color-primary-light: #e00217;
	--ifm-color-primary-lighter: #e60c22;
	--ifm-color-primary-lightest: #ea2336;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

	--companion-navbar-bg: #d50215;
	--ifm-navbar-background-color: var(--companion-navbar-bg);
	--ifm-navbar-link-color: #ffffff;
	--ifm-navbar-link-hover-color: #ffffff;

	--companion-active-tab-color: var(--ifm-font-color-base);
	--companion-active-tab-bg: white;
	--companion-active-tab-shadow-color: rgba(0, 0, 0, 0.1);
	--companion-mode-toggle-bg: rgba(255, 255, 255, 0.4);
	--companion-group-border-color: rgba(0, 0, 0, 0.1);
	--companion-pulldown-sidebar-bg: white; /* --ifm-background-color is transparent in light mode */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #f04d63;
	--ifm-color-primary-dark: #ed3249;
	--ifm-color-primary-darker: #eb233e;
	--ifm-color-primary-darkest: #d30825;
	--ifm-color-primary-light: #f3687d;
	--ifm-color-primary-lighter: #f47788;
	--ifm-color-primary-lightest: #f89aa7;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
	--ifm-navbar-link-color: #ffffff;
	--ifm-navbar-link-hover-color: #ffffff;

	--companion-active-tab-color: var(--ifm-font-color-base); /* for the pseudo-tab links in the top navbar */
	--companion-active-tab-bg: var(--ifm-background-color); /* #1b1b1d */
	--companion-active-tab-shadow-color: rgba(125, 125, 125, 0.1);
	--companion-mode-toggle-bg: rgba(0, 0, 0, 0.25);
	--companion-group-border-color: rgba(255, 255, 255, 0.1);
	--companion-pulldown-sidebar-bg: var(--ifm-background-color);
}

/* parent of the "tabs" needs slight adjustments: */
.navbar {
	box-shadow: none; /* keeps tab continuous with page content */
	/*box-shadow: 0 0 0.5em 0px rgba(0, 0, 0, 0.2);*/ /* alternative but breaks continuity of tab with page in light mode */
}

/* Navbar (the top bar, not the sidebar) link styles 
   note: don't put `overflow: hidden;` here as it causes weird text-wrapping as the window narrows */
.navbar__link {
	border-radius: 0.5rem;
	text-align: center; /* keep labels horizontally centered when they become two lines */
}

.navbar__link--active {
	/* Make active links have rounded top corners only */
	border-radius: 0.5rem 0.5rem 0 0;
	/* Make active link look a like a page-tab (like a browser tab) */
	color: var(--companion-active-tab-color);
	background-color: var(--companion-active-tab-bg);
	/* Extend the button to just beyond the bottom of the header (when text is on one line) */
	border-bottom: 0.9em solid var(--companion-active-tab-bg);
	margin-bottom: -0.9em; /* counteract button-size effects of the border-bottom */
	/* Give the tab a glow above, minimizing separation from the page body */
	box-shadow: 0 -4px 10px 1px var(--companion-active-tab-shadow-color);
}

/* we can't use `overflow: hidden` on .navbar because then it blocks the pulldown for user-guide versions
   so instead we have to micromanage the border-bottom property: 
   - Two-word labels wrap to two-lines (so exclude satellite)
   - When user-guide is selected the pull-down appear in the header, so the two-liners wrap sooner
   */
@media screen and (max-width: 1105px) {
	.navbar__link:not([href*='/satellite']) {
		border-bottom: 0;
		margin-bottom: 0.5em;
		padding: 0 var(--ifm-navbar-item-padding-horizontal); /* keep labels vertically centered when they become two lines */
	}
	.navbar__link[href*='/satellite'] {
		border-bottom: 0;
		margin-bottom: 0.2em;
		padding: 1em var(--ifm-navbar-item-padding-horizontal); /* keep labels vertically centered when they become two lines */
	}
}

@media screen and (max-width: 1200px) {
	.navbar__link--active[href*='/user-guide'] {
		border-bottom: 0;
		margin-bottom: 0;
		padding: 0 var(--ifm-navbar-item-padding-horizontal); /* keep labels vertically centered when they become two lines */
	}
}

/* Hover styles for all types of navbar links */
.navbar__link:hover:not(.navbar__link--active),
.navbar-sidebar__brand:hover,
.navbar__brand:hover,
.navbar__toggle:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

/* Make the dark/light mode button stand out better.
   Unfortunately, it doesn't have a non-serialized classname, so do it by nesting  */
.theme-layout-navbar-right .clean-btn:not(:hover),
.navbar-sidebar__brand .clean-btn:not(:hover) {
	background-color: var(--companion-mode-toggle-bg);
}

.navbar-sidebar__close {
	padding: 0.5em;
	border-radius: 0.5em;
	color: white; /* doesn't do anything currently, because the SVG is hardcoded to: */
	--ifm-color-emphasis-600: white;

	&:hover {
		background-color: var(--companion-mode-toggle-bg);
	}
}

/* Default color for the sidebar toggle is black in light mode and grey in dark mode for some reason; neither look great */
.navbar__toggle {
	color: white;
	padding: 0.5em;
	border-radius: 0.5em;
}

/* when window is narrow, the "pull-down" sidebar's class is .navbar-sidebar.
   Adjust its colors here to match the body/sidebar colors rather than the (top) navbar colors
   (when the window is wider, the permanent sidebar class is .theme-doc-sidebar-menu)
 */
.navbar-sidebar {
	--ifm-navbar-background-color: var(--companion-pulldown-sidebar-bg);
}

/* the top of the narrow-win sidebar should be red regardless of theme */
.navbar-sidebar__brand,
.navbar-sidebar__brand:hover {
	background-color: var(--companion-navbar-bg);
}

/* Make subgroup (aka category) boundaries more distinct.
   note that the DOM for collapsing lists in the sidebar is:
    <li class="theme-doc-sidebar-item-category ... menu__list-item menu__list-item--collapsed> 
		<div class="menu__list-item-collapsible">...</div>
		<ul class="menu__list> <li class="...menu__list-item">...</li>...   </ul>
	</li>
   but the class .menu__list-item--collapsed is removed from the outer <li> and not
   replaced by another classname, so the condition for open is:
   .theme-doc-sidebar-item-category:not(.menu__list-item--collapsed)
 */

.theme-doc-sidebar-item-category:not(.menu__list-item--collapsed) {
	box-shadow: 1px 0px 16px -3px var(--companion-group-border-color);
	border-right: 1px solid var(--companion-group-border-color);
	border-radius: 0.5rem;
}

/* move the expand/contract caret to the far left for improved visibility/group offsetting */
.menu__caret {
	order: -1;
	padding-left: 0.45em;
	padding-right: 0.45em;
	border-radius: 0.5rem 0 0 0.5rem; /* match the outer box's corner */

	/* The caret is taller than wide, so to keep visual left-alignment we have to move it over when rotating 90 degrees.
	   An alternative would be to adjust only padding-left and push the text over too... */
	&[aria-expanded='true'] {
		padding-left: 0.75em;
		padding-right: 0.15em;
	}
}

/* split the padding between the caret (above) and the text in the category header */
.menu__link--sublist {
	padding-left: 0.3em;
}

/* indent sublists, i.e. list under a category, to  align with the category header */
.menu__list-item .menu__list-item {
	margin-left: 0.75em;
}

/* Main body styling? CodeRabbit says these are safe to prune, but was there an intention to use these? */
.text-gray-50 {
	color: #f9fafb;
}
.text-gray-500 {
	color: #6b7280;
}

/* indent text under H2 headers */
.markdown h2 ~ :not(h1, h2) {
	margin-left: 2rem;
}
