/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #d50215;
	--ifm-color-primary-dark: #bf0213;
	--ifm-color-primary-darker: #b40212;
	--ifm-color-primary-darkest: #94010f;
	--ifm-color-primary-light: #e00217;
	--ifm-color-primary-lighter: #e60c22;
	--ifm-color-primary-lightest: #ea2336;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

	--ifm-navbar-background-color: #d50215;
	--ifm-navbar-link-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #f04d63;
	--ifm-color-primary-dark: #ed3249;
	--ifm-color-primary-darker: #eb233e;
	--ifm-color-primary-darkest: #d30825;
	--ifm-color-primary-light: #f3687d;
	--ifm-color-primary-lighter: #f47788;
	--ifm-color-primary-lightest: #f89aa7;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

}

