.edit-button-panel {
	h4 {
		margin-top: 1rem;
	}

	label {
		justify-content: left;
		font-weight: bold;
		font-size: 0.85em;
		margin-bottom: 0.15rem;
	}
}

.button-style-form {
	& > div {
		// column
		margin-bottom: 10px;
	}

	.png-browse {
		display: block;
		white-space: nowrap;
	}
}

table.action-table,
table.feedback-table {
	.actionlist-dragging,
	.feedbacklist-dragging {
		opacity: 0.5;
	}

	.actionlist-dropzone {
		p {
			border: 2px dashed #bbb;
			border-radius: 5px;

			text-align: center;

			margin: 0;
			padding: 0.75rem;
		}
	}

	td.td-reorder {
		padding-right: 0;
		vertical-align: middle;
	}

	.editor-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto 1fr;
		column-gap: 10px;
		row-gap: 5px;

		.cell-name {
			font-weight: bold;
			grid-row: 1;
			grid-column: 1;
		}

		.cell-controls {
			grid-row: 1;
			grid-column: 2;
			text-align: right;
		}

		.cell-description {
			grid-row: 2;
			grid-column: 1;
		}

		.cell-delay {
			grid-row: 3;
			grid-column: 1;

			@include media-breakpoint-up('sm') {
				width: 70%;
			}
		}

		.cell-actions {
			grid-row: 4;
			grid-column: 1;
		}

		.cell-option {
			grid-row: 2 / 5;
			grid-column: 2;
		}

		.cell-styles {
			grid-row: 5;
			grid-column: 2;

			.png-browse {
				display: block;
			}
		}
		.cell-styles-manage {
			grid-row: 5;
			grid-column: 1;
		}
	}

	// Give a border the bottom of the table. based on the table.td rule from coreui
	tbody {
		border-bottom: $table-border-width solid;

		@include themes($table-theme-map, $create: parent) {
			border-bottom-color: themes-get-value('table-border-color');
		}
	}
}

.add-dropdown-wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
}

.add-browse-card {
	.card-header {
		cursor: pointer;
		font-weight: bold;
		// background-color: #ccc;

		&:hover {
			text-decoration: underline;
		}
	}

	.card-body {
		padding: 0;
	}

	.table {
		margin-bottom: 0;

		td {
			vertical-align: middle;
		}

		.item-label {
			font-weight: bold;
		}
	}

	p.no-entries {
		padding: 0.75rem;
		margin: 0;
	}
}
