.button-grid-header {
	display: grid;
	grid-template-columns: auto 2fr 1fr;
	column-gap: 5px;
	padding: 10px 0;

	.input-group {
		width: 150px;
	}
}

.tab-pane .nav.nav-tabs .nav-link {
	color: black;
}

.bankgrid {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: 1fr;

	&.bank-armed .pagebank-row {
		background-color: rgba(255, 0, 0, 0.5);
	}

	&.with-markings .pagebank-row {
		// Streamdeck markings
		&:nth-child(1) > .bank:nth-child(1),
		&:nth-child(2) > .bank:nth-child(1),
		&:nth-child(3) > .bank:nth-child(1),
		&:nth-child(1) > .bank:nth-child(5),
		&:nth-child(2) > .bank:nth-child(5),
		&:nth-child(3) > .bank:nth-child(5),
		&:nth-child(3) > .bank:nth-child(2),
		&:nth-child(3) > .bank:nth-child(3),
		&:nth-child(3) > .bank:nth-child(4) {
			background-color: #404040;
		}

		// Streamdeck mini markings
		&:nth-child(1) > .bank:nth-child(2),
		&:nth-child(1) > .bank:nth-child(3),
		&:nth-child(1) > .bank:nth-child(4),
		&:nth-child(2) > .bank:nth-child(2),
		&:nth-child(2) > .bank:nth-child(3),
		&:nth-child(2) > .bank:nth-child(4) {
			/* currently not in use.. dummy rule below */
			display: inherit;
		}
	}

	.pagebank-row {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		transition: background-color 0.05s ease-in-out;
		background-color: transparent;

		img:hover {
			border: 1px solid rgba(255, 255, 255, 0.3);
		}
	}
}

.fadeinout {
	transition: opacity 0.05s ease-in-out;
	opacity: 1;

	&.out {
		opacity: 0;
	}
}

.button-grid-controls {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	& > div {
		white-space: nowrap;
		margin-bottom: 1rem;
	}
}
