.button-grid-header {
	display: grid;
	grid-template-columns: auto 2fr 1fr;
	column-gap: 5px;
	padding: 10px 0;

	.input-group {
		// width: 150px;
	}
}

.tab-pane .nav.nav-tabs .nav-link {
	color: black;
}

.bankgrid {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;

	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: 1fr;

	&.bank-armed .pagebank-row {
		background-color: rgba(255, 0, 0, 0.5);
	}

	.pagebank-row {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		transition: background-color 0.05s ease-in-out;
		background-color: transparent;

		img:hover {
			border: 1px solid rgba(255, 255, 255, 0.3);
		}
	}
}

.fadeinout {
	transition: opacity 0.05s ease-in-out;
	opacity: 1;

	&.out {
		opacity: 0;
	}
}

.button-grid-controls {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	& > div {
		white-space: nowrap;
		margin-bottom: 1rem;
	}
}

.c-sidebar-nav-link,
.c-sidebar-nav-dropdown-toggle {
	transition: none;
}

.button-grid-panel {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

.button-grid-panel-content {
	overflow: hidden;
}

.button-infinite-grid {
	height: 100%;
	background-color: #222;
	border-radius: 5px;
	overflow: scroll;

	&.bank-armed .button-grid-canvas {
		background-color: rgba(255, 0, 0, 0.5);
	}

	.button-grid-canvas {
		position: relative;
		width: 1000px;
		height: 1000px;

		.bank {
			position: absolute;
			float: left;
		}
	}
}
