.grouping-table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	box-shadow: 0px 2px 21px -10px rgba(0, 0, 0, 0.2);

	--group-nesting-level: 0;

	.grouping-table-header,
	.grouping-table-ungrouped-header {
		background-color: #f0f0f0;
		padding: 6px 10px;
		padding-left: 20px;

		border-bottom: 1px solid #ddd;

		font-weight: 700;
	}

	.grouping-table-row-item {
		padding: 5px 10px;
		border-bottom: 1px solid #ddd;

		.row-reorder-handle {
			cursor: ns-resize;
			padding-right: 0.5rem;
		}

		&.row-dragging {
			opacity: 0.5;
		}

		&.row-selected {
			background-color: rgba(200, 200, 200, 0.35);

			&:hover {
				background-color: rgba(200, 200, 200, 0.3) !important;
			}
		}

		&.row-notdragging:hover {
			background-color: rgba(200, 200, 200, 0.1);
		}
	}

	.grouping-table-row-group {
		padding: 5px 10px;
		border-bottom: 1px solid #ddd;

		background-color: #f0f0f0;
		font-weight: 600;

		.caret-icon {
			cursor: pointer;
		}

		.group-name {
			font-size: 1.1em;
			margin-left: 5px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		.btn-link {
			padding: 0 6px;
			color: #666;

			&:hover {
				color: #333;
			}
		}

		.row-reorder-handle {
			position: relative;
			cursor: ns-resize;

			margin-right: 0.75rem;
		}

		// &.row-dragging {
		// 	opacity: 0.5;
		// }

		// &.row-selected {
		// 	background-color: rgba(200, 200, 200, 0.35);

		// 	&:hover {
		// 		background-color: rgba(200, 200, 200, 0.3) !important;
		// 	}
		// }

		// &.row-notdragging:hover {
		// 	background-color: rgba(200, 200, 200, 0.1);
		// }
	}
}

.collapsible-group-nesting {
	padding-left: calc(var(--group-nesting-level) * 10px) !important;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0px; //calc((var(--group-nesting-level) - 1) * 10px);
		top: -20px;
		height: calc(100% + 25px);
		width: 1px;
		background-color: #ccc;
		z-index: 1;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0px; // calc((var(--group-nesting-level) - 1) * 10px);
		top: 50%;
		width: calc(var(--group-nesting-level) * 10px - 5px);
		height: 1px;
		background-color: #ccc;
		z-index: 1;
	}
}

.collapsible-list-dropzone {
	p {
		border: 2px dashed #bbb;
		border-radius: 5px;
		text-align: center;
		margin: 0;
		padding: 0.75rem;
	}
}
