@use 'variables' as *;

.collapsible-tree {
	border: 1px solid #ddd;
	border-collapse: collapse;
	box-shadow: 0px 2px 21px -10px rgba(0, 0, 0, 0.2);

	--collapsible-tree-nesting-level: 0;

	.collapsible-tree-ungrouped-header {
		background-color: #f0f0f0;
		padding: 6px 10px;
		padding-left: 20px;

		border-bottom: 1px solid #ddd;

		font-weight: 700;
	}

	.collapsible-tree-group-row {
		padding: 5px 10px;
		border-bottom: 1px solid #ddd;

		background-color: #f0f0f0;
		font-weight: 600;
		cursor: pointer;

		.collapsible-tree-caret {
			width: 9px;
			margin-right: 5px;
		}

		&:hover {
			background-color: darken(#f0f0f0, 3%);
		}
	}

	.collapsible-tree-connection-module {
		display: inline;
		font-weight: normal;
		opacity: 0.6;
		margin-left: 0.5em;
		font-size: 0.85em;
	}

	.collapsible-tree-leaf-row {
		padding: 5px 10px;
		border-bottom: 1px solid #ddd;
		cursor: pointer;

		&:hover {
			background-color: rgba(200, 200, 200, 0.1);
		}

		.collapsible-tree-leaf-label {
			font-weight: bold;
		}

		.collapsible-tree-leaf-description {
			font-size: 0.9em;
			opacity: 0.7;
		}
	}

	.collapsible-tree-nesting {
		padding-left: calc(var(--collapsible-tree-nesting-level) * 10px) !important;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 0px;
			top: -5px;
			height: calc(100% + 10px);
			width: 1px;
			background-color: #ccc;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0px;
			top: 50%;
			width: calc(var(--collapsible-tree-nesting-level) * 10px - 5px);
			height: 1px;
			background-color: #ccc;
			z-index: 1;
		}
	}
}
