h4 {
	font-weight: bold;
}

.action-buttons {
	text-align: center;

	// make compact
	width: 1px;

	.btn {
		text-transform: uppercase;
	}
}

h4,
h5,
legend {
	.btn-group {
		float: right;
	}
	.btn {
		float: right;
	}
}

.btn-group {
	&.margin-bottom {
		margin-bottom: 1rem;
	}
}

h5 {
	font-weight: bold;
}

.table-responsive-sm {
	border: 1px solid #ddd;
	border-collapse: collapse;
	box-shadow: 0px 2px 21px -10px rgba(0, 0, 0, 0.2);

	th {
		// border-radius: 10%;
		border-bottom-width: 0px !important;
		background-color: #f0f0f0;
		padding-top: 6px;
		padding-bottom: 6px;

		&.fit {
			width: 1px;
		}
	}

	td {
		vertical-align: middle;
	}
}

code {
	font-family: 'Fira Code', monospace;
	font-size: 1.05em;
}

@supports (font-variation-settings: normal) {
	code {
		font-family: 'Fira Code VF', monospace;
	}
}

.widget-clickable {
	cursor: pointer;
}
