
h4 {
	font-weight: bold;
}

.action-buttons {
	text-align: center;

	.btn {
		text-transform: uppercase;
	}
}


h4, h5 {
	.btn {
		float: right;
	}
}

.table-responsive-sm {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table-responsive-sm th {
	border-radius: 10%;
	border-bottom-width: 0px !important;
}