.form-check:not(.form-switch) {
	input[type='checkbox'] {
		-webkit-appearance: none;
		appearance: none;
		width: 22px;
		height: 22px;
		background: white;
		border-radius: 4px;
		border: 1px solid #999;
	}

	input[type='checkbox']:checked {
		background: 0 0 var(--companion-img-check);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	input[type='checkbox']:disabled {
		background: #eee;
	}
	input[type='checkbox']:indeterminate {
		background: 0 0 var(--companion-img-indeterminate);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

label.disabled {
	color: #ccc;
}

.form-check {
	label {
		line-height: 24px;
		margin-bottom: 0;
	}
}

/* Style for variable-name autocomplete in text inputs as well as options in regular dropdowns */
.variable-dropdown-option span {
	display: block;

	&.var-name {
		font-weight: bold;
	}

	&.var-label {
		font-weight: inherit;
		white-space: wrap;
		font-weight: normal;
	}
}

/* note that using `span` instead of `div` doesn't format correctly for the ellipsis */
.variable-dropdown-single div {
	&.var-name {
		font-weight: bold;
	}

	&.var-label {
		overflow: hidden;
		font-weight: inherit;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: normal;
		padding-bottom: 0.2em;
	}
}

.variable-select-root {
	display: flex;
	flex-grow: 1;

	.variables-text-input {
		flex-grow: 1;

		& > div {
			padding: 0 !important;
		}

		.form-control {
			border: none;
		}
	}
}

.alignmentinput {
	display: grid;
	width: 60px;
	height: 60px;

	background-image: var(--companion-img-alignment);

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 1px;
	row-gap: 1px;
	padding: 0px;

	line-height: 0;

	> div {
		border: 2px solid #eee;
		border-radius: 3px;
		padding: 1px;
		&.selected {
			border: 2px solid #d502146e;

			background-size: contain !important;
			background-color: rgba(255, 0, 0, 0.1);
		}
	}
}

.pnginputfield {
	input[type='file'] {
		display: none;
	}
}

.sketch-picker {
	label {
		margin-top: 0.3rem;
		margin-right: 0.5rem;
	}
}

.select-invalid {
	.select-control__single-value {
		color: red;
	}
}

.select-warning {
	.select-control__control {
		box-shadow: orange 0 0 0 1px;
	}
}

.select-control__menu-portal {
	z-index: 1200 !important;
}

.select-control__control {
	border-color: #bbb !important;
	font-weight: bold;
}

.select-control-editable {
	.select-control__input-container {
		opacity: 0;
	}

	.select-control__control--is-focused {
		.select-control__single-value {
			visibility: hidden;
		}

		.select-control__input-container {
			opacity: 1;

			.select-control__input {
				opacity: 1 !important;
			}
		}
	}
}

.variable-select-root__menu-portal {
	// Ensure variable dropdowns appear above other UI elements
	z-index: 20;
}

/* Styling for the dropdown options list, so they can accommodate two-line entries

  Companion's default line-height (`--cui-body-line-height`) is 1.5,
  Here line-height the value but is specified explicitly to allow it to be replaced in a way that affects 
  all pulldown menus, in case a shorter line-height may be more suitable for long lists...
  (Other props such as padding affect spacing between options, so even at line-height=1 the options are separated.)

  .select-control: Regular pulldown menu (actions and feedbacks)
  .variable-select-root: For expression-suggestions in the button-text (not expression-editor) pull-down
   */
.select-control__option,
.variable-select-root__option {
	white-space: pre-wrap !important; /* Honor \n line-breaks in the text. */
	line-height: var(--cui-body-line-height);
}

/* Styling for the dropdown value container, "single-value", so they can accommodate two-line entries */
.select-control__value-container {
	--value-line-height: var(--cui-body-line-height);

	/* For two-line dropdowns the container looks a bit tight, so add some padding.
		Note: as long as vert-padding is not too large this has no effect on single-line values */
	--vert-padding: 4px;
	padding-top: var(--vert-padding) !important;
	padding-bottom: var(--vert-padding) !important;

	/* Allow \n line-breaks and remove "excess" line spacing. 
		Note: this maintains the current behavior of no-wrap in single-value fields. */
	.select-control__single-value {
		white-space: pre !important; /* Honor \n line-breaks in the text. */
		line-height: var(--value-line-height);
	}

	/* For two-line, editable dropdowns, the __single-value element is hidden, above, on gaining focus
	 so to preserve the box size we introduce a new CSS class that is twice the .select-control__single-value line-height. */
	.variable-dropdown-edit {
		min-height: calc(2 * var(--value-line-height) * 1em);
	}
}

.static-text-content {
	& > :last-child {
		margin-bottom: 0;
	}
}
