.form-check:not(.form-switch) {
	input[type='checkbox'] {
		-webkit-appearance: none;
		appearance: none;
		width: 22px;
		height: 22px;
		background: white;
		border-radius: 4px;
		border: 1px solid #999;
	}

	input[type='checkbox']:checked {
		background: 0 0 var(--companion-img-check);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	input[type='checkbox']:disabled {
		background: #eee;
	}
	input[type='checkbox']:indeterminate {
		background: 0 0 var(--companion-img-indeterminate);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

label.disabled {
	color: #ccc;
}

.form-check {
	label {
		line-height: 24px;
		margin-bottom: 0;
	}
}

.variable-dropdown-option {
	overflow-wrap: break-word;
}

/* Style for variable-name autocomplete in text inputs as well as options in regular dropdowns */
.variable-dropdown-option span {
	display: block;

	&.var-name {
		font-weight: bold;
	}

	&.var-label {
		font-weight: inherit;
		white-space: wrap;
		font-weight: normal;
	}
}

/* note that using `span` instead of `div` doesn't format correctly for the ellipsis */
.variable-dropdown-single div {
	&.var-name {
		font-weight: bold;
	}

	&.var-label {
		overflow: hidden;
		font-weight: inherit;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: normal;
		padding-bottom: 0.2em;
	}
}

.sketch-picker {
	label {
		margin-top: 0.3rem;
		margin-right: 0.5rem;
	}
}

.static-text-content {
	& > :last-child {
		margin-bottom: 0;
	}
}
