.page-emulator {
	background-color: #181818;
	color: #d69e2e;

	height: 100vh;

	display: grid;
	grid-template-rows: auto 1fr;
	grid-auto-flow: column;

	.loading {
		margin: 20% 0;
	}

	.emulatorgrid {
		background-color: #181818;

		display: grid;
		// height: 100vh;
		width: 100vw;
		grid-row: 2;

		justify-content: space-around;
		// grid-auto-flow: row;

		.buttongrid {
			-webkit-touch-callout: none !important;
			-webkit-user-select: none !important;
			user-select: none !important;

			margin-top: auto;
			margin-bottom: auto;

			display: grid;
			grid-auto-flow: row;
			grid-auto-rows: 1fr;

			.button-control {
				padding: min(5px, 1%);
			}
		}
	}
}
