.expression-editor-container {
	height: 90px;
	min-height: 90px; // ~5 lines at default font size (18px per line)
	resize: vertical;
	overflow: auto;

	flex-grow: 1;

	border: var(--cui-border-width) solid var(--cui-border-color);
	transition:
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&.syntax-error {
		border-color: rgb(255, 12, 138);
	}

	/* Override Monaco suggest widget to show details below name */
	.monaco-editor .suggest-widget {
		box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
		border-radius: 0.5em;

		.monaco-list .monaco-list-rows {
			border-radius: 0.5em;
		}

		.monaco-list .monaco-list-row {
			align-items: center;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			/* Reflow the inner layout into two rows */
			.main {
				display: grid !important;
				grid-template-columns: auto 1fr;
				grid-template-rows: auto auto;
				line-height: 21px !important;

				.suggest-icon {
					grid-row: span 2;
					grid-column: 1;
				}

				/* Left (name) takes full width on first row */
				.left {
					grid-column: 2;
					grid-row: 1;
					font-weight: bold;
					padding-top: 5px;

					.label-name {
						text-decoration: none !important; // don't need important, but we are overriding at this level
						//white-space: pre-wrap !important; /* this doesn't work; maybe don't even want it? */
					}
				}

				/* Right (details/description) moves below name */
				.right {
					grid-column: 2;
					grid-row: 2;

					max-width: inherit !important;

					.details-label {
						margin-left: 0 !important;
						// color: #000;
						display: block !important;
					}
					.readMore {
						visibility: visible !important;
						margin-top: -0.75em;
						&::before {
							font-size: 28px !important;
							background-color: rgba(255, 255, 255, 0.2);
						}
						&:hover::before {
							background-color: rgba(255, 255, 255, 0.4);
						}
					}
				}
			}
		}
	}
}

// full path is: .monaco-editor .overflowingOverlayWidgets .suggest-details-container .suggest-details
// .monaco-editor .suggest-details-container sets z-index: 41
.monaco-editor .suggest-details {
	line-height: 1.5 !important;
	height: auto !important;
	overflow-y: auto;
	max-height: 25em;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

	.body {
		padding: 2px;
		padding-bottom: 0.5em;
	}

	.header {
		padding: 0.5em;
		background-color: var(--cui-info-bg-subtle);

		.type {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.codicon-close {
			height: 1.5em !important;
			width: 1.5em !important;
			position: absolute !important; // it already is absolute, but just for clarity...
			top: -1px !important;
			right: -1px !important; // note: 12px would avoid the scrollbar, but it's unlikely to be used, so this looks better
			background-color: lightgray;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

			&::before {
				font-size: 1.3em !important;
			}
		}
	}
}
