.import-wizard {
	display: grid;
	grid-template-rows: auto auto 1fr;
	overflow-y: hidden;

	> .tab-content {
		overflow-y: scroll;
	}
}

.import-wizard .import-single-page {
	overflow: hidden;
	overflow-y: scroll;
	margin: 0;
}
