.import-wizard {
	&.import-full {
		display: grid;
		grid-template-rows: auto auto 1fr;
		overflow-y: hidden;

		> .tab-content {
			overflow-y: scroll;
		}
	}

	&.single-page {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.import-page-row {
		margin-bottom: 1rem;
		flex-grow: 1;
	}
	.import-page-grid {
		display: flex;
		flex-direction: column;
	}

	.buttongrid {
		flex: 1;
		min-height: 0;
	}
}
