.float_right {
	float: right;
}

.float_inline {
	display: inline;
}

.float_right,
.float_inline {
	cursor: pointer;
	cursor: hand;

	svg {
		margin-right: 4px;
	}

	> * {
		display: inline-block;

		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}

.connectionlist-dragging {
	opacity: 0.5;
}

.connectionlist-selected {
	background-color: rgba(200, 200, 200, 0.35);

	&:hover {
		background-color: rgba(200, 200, 200, 0.3) !important;
	}
}

.connectionlist-notdragging:hover {
	background-color: rgba(200, 200, 200, 0.1);
}

.instance_bug {
	margin-right: 4px;

	color: inherit;
	&:hover {
		color: inherit;
	}
}

.connection-status-ok {
	background-color: #cfc;
}

.connection-status-warn {
	background-color: #fea;
}

.connection-status-error {
	background-color: #fcc;
}

#connection_add_search_results {
	margin-top: 10px;
}

#connection_add_search_results div {
	margin-bottom: 5px;
}

.edit-connection {
	& > div {
		// column
		margin-bottom: 10px;
	}

	label {
		justify-content: left;
		font-weight: bold;
		font-size: 1em;
		margin-bottom: 0.15rem;
	}
}

.variables-panel {
	margin-right: -0.5rem;

	overflow: hidden;
	height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;

	.variables-table-filter {
		margin-top: 1rem;
	}

	.variables-table-scroller {
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.variables-table {
	word-break: break-all;
	// flex-grow: 1;

	th {
		position: sticky;
		top: 0;
	}

	.variable-dragging {
		opacity: 0.5;
	}

	.variable-description {
		word-break: normal;
		padding: $variable-padding;
	}

	.editor-grid {
		.cell-header {
			grid-column: 1/4;
			font-weight: bold;
			display: grid;
			grid-template-columns: 1fr 1fr 0.25fr;

			.cell-header-item {
				&.span-2 {
					grid-column: 1/3;
				}
			}
		}

		.cell-fields {
			display: grid;
			grid-template-columns: 0.25fr 1fr;

			@include media-breakpoint-up(sm) {
				.align-right {
					text-align: right;
					align-self: center;
				}
			}
			@include media-breakpoint-down(sm) {
				.align-right {
					margin-bottom: 0;
				}
			}
		}
	}
}

.variables-table-filter {
	margin: 0 0 1rem 0;
}

.connection-enabled-switch {
	margin-left: 1em;
}

.import-module {
	margin-bottom: 0.5rem;
}
