@use '@coreui/coreui/scss/mixins/breakpoints';

@use 'variables' as *;

.float_right {
	float: right;
}

.float_inline {
	display: inline;
}

.float_right,
.float_inline {
	cursor: pointer;
	cursor: hand;

	svg {
		margin-right: 4px;
	}

	> * {
		display: inline-block;

		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}

.connectionlist-selected {
	background-color: rgba(200, 200, 200, 0.35);

	&:hover {
		background-color: rgba(200, 200, 200, 0.3) !important;
	}
}

.connection-status-ok {
	background-color: #cfc;
}

.connection-status-warn {
	background-color: #fea;
}

.connection-status-error {
	background-color: #fcc;
}

#connection_add_search_results {
	margin-top: 10px;
}

#connection_add_search_results div {
	margin-bottom: 5px;
}

.edit-connection {
	margin-bottom: 1em;

	& > div {
		// column
		margin-bottom: 0.5rem;
	}

	label {
		justify-content: left;
		font-weight: bold;
		font-size: 1em;
		margin-bottom: 0.5rem;

		&.col-form-label {
			margin-bottom: 0.5rem;
		}

		@include breakpoints.media-breakpoint-only('xs') {
			&.col-form-label {
				// Respect the override
				margin-bottom: 0;
			}
		}
	}
}

.connection-form-buttons {
	position: sticky;
	bottom: 0;
	flex-shrink: 0;
	padding-top: 1rem;
	margin-top: auto;
	background-color: white;
	padding-bottom: 1.5rem;
}

.import-module {
	margin-bottom: 0.5rem;
}

// Connection groups styling
.connection-group-actions {
	overflow: hidden; // workaround for a coreui "bug" that counts hidden elements as present and therefore applies the wrong border-radius
	margin-bottom: 1rem;
}

.add-connection-intro-section {
	.intro-grid {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 0 0.5rem;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			gap: 0.75rem;

			.intro-filter {
				justify-self: auto;
			}
		}
	}

	.intro-text {
		grid-column: 1 / 3;
	}

	.intro-filter {
		justify-self: end;
	}
}
