.instance_help,
.instance_bug,
.instance_variables {
	float: right;
	cursor: pointer;
	cursor: hand;
}

.instancelist-dragging {
	opacity: 0.5;
}

.instance_bug {
	margin-right: 4px;

	color: inherit;
	&:hover {
		color: inherit;
	}
}

.instance-status-ok {
	background-color: #cfc;
}

.instance-status-warn {
	background-color: #fea;
}

.instance-status-error {
	background-color: #fcc;
}

#instance_add_search_results {
	margin-top: 10px;
}

#instance_add_search_results div {
	margin-bottom: 5px;
}

.edit-instance {
	& > div {
		// column
		margin-bottom: 10px;
	}

	label {
		justify-content: left;
		font-weight: bold;
		font-size: 1em;
		margin-bottom: 0.15rem;
	}
}

.td-reorder {
	cursor: ns-resize;
}

.variables-panel {
	.variables-table-filter {
		margin-top: 1rem;
	}
}

.variables-table {
	word-break: break-all;
}

.variables-table-filter {
	margin: 0 0 1rem 0;
}

.instances-panel {
	.action-buttons {
		.btn-primary.disabled {
			opacity: 0.5;
		}
	}
}
