
body {
	font-family: "Roboto", sans-serif;
}

.c-sidebar-nav-link:hover {
	background: $primary;
}

.c-sidebar .c-sidebar-brand {
	font-size: 1.4em;
}
.c-header .c-header-brand {
	font-size: 1.4em;
	margin: 0 auto;
}