@use 'variables' as *;

.pages-list-table {
	.entitylist-dragging {
		@include dragging-style();
	}

	td.td-reorder {
		padding-right: 10px;
		padding-left: 10px;
		vertical-align: middle;

		// as narrow as possible
		width: 0;
	}
}
