@use '@coreui/coreui/scss/coreui'; // not strictly necessary, but it allows us to clarify the origin of mixins

.preset-category-grid,
.variables-category-grid {
	display: grid;

	column-gap: 10px;
	row-gap: 10px;

	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;

	align-content: stretch;

	@include coreui.media-breakpoint-down('lg') {
		grid-template-columns: repeat(3, 1fr);
	}

	@include coreui.media-breakpoint-down('md') {
		grid-template-columns: repeat(2, 1fr);
	}

	@include coreui.media-breakpoint-down('sm') {
		grid-template-columns: 1fr;
	}

	.btn {
		align-content: center;
	}

	.btn-block {
		margin-top: 0;
	}
}
