.preset-category-grid {
	display: grid;

	column-gap: 10px;
	row-gap: 10px;

	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;

	align-content: stretch;

	@include media-breakpoint-down('xs') {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-block {
		margin-top: 0;
	}
}
