@use 'variables' as *;
@use 'common'; // updates .form-control background-color (rearranging the @use lines in App.scss doesn't work)

@import 'react-date-picker/dist/DatePicker.css';
@import 'react-calendar/dist/Calendar.css';

.react-date-picker {
	display: block;
	width: 100%;

	.react-date-picker__wrapper {
		@extend .form-control;
	}

	.react-date-picker__clear-button,
	.react-date-picker__clock-button {
		// Temporary?
		display: none;
	}
}
.react-date-picker__calendar {
	border: var(--cui-border-width) solid var(--cui-border-color);
	border-radius: var(--cui-border-radius);
}
.react-date-picker__calendar--open {
	border-radius: 20px;
}
.react-calendar__tile--active {
	color: white;
	background-color: $primary;
	&:enabled:hover {
		background: $primary;
	}
}
.react-calendar__month-view__days__day--weekend {
	color: black;
}
.react-calendar__tile--now {
	color: white;
	background-color: $info;
	&:enabled:hover {
		background: $info;
	}
}
