.settings-category-spacer:not(:first-child) {
	height: 20px;
}

.settings-category-row {
	th {
		font-weight: bold;
		font-size: 18px;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		// background-color: #fff !important;
		border-bottom: 1px solid #dddfe2 !important;
	}
}

.remote-control-tabs .nav-link {
	cursor: pointer;
}

.table {
	border-width: 0;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

.table-settings td,
.table-settings th {
	padding: 0;
	margin: 0;
	padding-left: 5px;
}

.table-settings td {
	border-width: 0;
	border-bottom: 1px solid #dddfe2;
	padding-top: 5px;
	padding-bottom: 7px;
	background: none;

	// make sure text input isn't squeezed because the first column is set to 100% in UserConfigSwitchRow.tsx
	input[type='text'] {
		min-width: 5em;
	}
}
