@use 'variables' as *;
@use 'sass:color';

.sidebar {
	will-change: contents;
	user-select: none;

	.sidebar-brand {
		font-size: 1.3em;
		text-decoration: none;

		.sidebar-brand-full {
			white-space: nowrap;

			img {
				margin-top: -5px;
			}
		}

		.sidebar-brand-narrow {
			margin-top: -6px;
			margin-bottom: -6px;
		}
	}

	.sidebar-header {
		min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list

		background-color: $sidebar-brand-bg;
		justify-content: left;
		padding-left: 11px;
	}

	.nav-link {
		--cui-sidebar-nav-link-bg: #191919;

		// note: .nav-group-toggle, below, overrides these three lines.
		margin-bottom: 0.15rem;
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;

		small {
			color: #aaa;
			font-size: 0.75rem;
		}

		.nav-icon-wrapper {
			width: 32px;
			min-width: 32px;
			min-height: calc(var(--cui-body-line-height) * 1em); // so nav-link height doesn't change when we hide the text
			margin: 0; // let .full-label handle the margin so the icon can be on its own in narrow sidebars
			text-align: center;
			justify-content: center;

			.nav-icon {
				max-width: 20px;
				margin: 0 auto;
				align-self: center;
			}
		}

		.full-label {
			margin-left: 12px;
		}
	}

	.nav-two-line .nav-link {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		line-height: calc(var(--cui-body-line-height) * 0.85);
	}

	// specific mobile-mode overrides for narrow mode. The .show is not necessary but makes the intent clearer.
	// i.e., .sidebar.show indicates mobile-mode. In all other modes, CUI correctly handles these properties already.
	&.sidebar-narrow.show {
		// CoreUI CSS only allows narrow width for "non-mobile" mode (@media (min-width: 992px)), so make it universal here:
		width: var(--cui-sidebar-narrow-width);

		.sidebar-brand-narrow {
			display: block;
		}
		.sidebar-brand-full {
			display: none;
		}
	}

	// note: in .sidebar, .show is present in mobile mode, during which we ignore sidebar-narrow-unfoldable but not sidebar-narrow
	&.sidebar-narrow-unfoldable:not(.show, :hover),
	&.sidebar-narrow {
		// when sidebar is narrow hide things including the label and toggler
		.nav-group-toggle::after,
		.full-label {
			display: none;
		}

		// if there's a notification, cozy it up to the icon when the sidebar is narrow.
		.notification-count {
			margin-left: -0.75rem;
			margin-top: -0.25rem;
		}

		.sidebar-nav .nav-group-items .nav-link {
			padding-right: 0;
		}
	}

	// In unfolding mode (but not narrow- or mobile-mode), hide the context menu when the sidebar folds
	&.sidebar-narrow-unfoldable:not(.show, :hover, .sidebar-narrow) {
		.context-menu {
			display: none;
		}
	}

	.nav-link:hover {
		background-color: #262626 !important;
	}

	.nav-secondary {
		flex: none;

		.nav-group-toggle::after {
			transform: rotate(180deg);
		}
		.show > .nav-group-toggle::after {
			transform: rotate(0deg);
		}
	}

	// Sidebar groups, DOM:
	//    .nav-group (".show" = when open)
	//       .nav-link.nav-group-toggle
	//           .nav-link
	//       .nav-group-items
	.nav-group {
		// border to include the toggler. A subsequent rule thickens the border for the group items section.
		border-left: 1px solid var(--cui-sidebar-nav-link-icon-color);
		//border-bottom: 1px solid var(--cui-sidebar-nav-link-icon-color); //optional bottom edge

		> .nav-link > .nav-link {
			// compensate for the border, so the icons stays centered relative to non-group items
			padding-left: calc(var(--cui-sidebar-nav-link-padding-x) - 1px);
		}

		&.show > .nav-link {
			// make the toggler "active" when open (this only affects the caret in the "split-button", i.e. label is in a separate div)
			background: var(--cui-sidebar-nav-link-active-bg);
		}
	}

	.nav-group-toggle {
		// override the default padding so we don't double-pad: only the nested nav-link is padded (see Sidebar groups, DOM comment, above)
		padding: 0;

		&::after {
			// affects the caret
			margin-left: 16px;
			margin-right: 16px;
			background-color: white;
			mask-repeat: no-repeat;
		}
		.nav-link {
			margin-bottom: 0;
		}
	}

	// highlighting for the group-items container (contains all the items excluding the group-toggler line)
	// we need specificity here to override padding and margin on .nav-group-items when sidebar is narrow (CUI wants them 0)
	&.sidebar-narrow .nav-group.show .nav-group-items, // override CUI in narrow mode
	&.sidebar-narrow-unfoldable:not(.show, :hover) .nav-group-items, // override CUI
	.nav-group-items {
		// the box underneath and containing the expanded group
		padding-left: 1px !important; // to separate nested groups
		border-left: 2px solid var(--cui-sidebar-nav-link-icon-color); // to visually group the items in a group
		border-bottom-left-radius: var(--cui-sidebar-nav-link-border-radius);
	}

	// override CUI so nav-group-items show when sidebar is narrow (CoreUI tries to override these with !important, so we have to as well)
	&.sidebar-narrow .nav-group.show .nav-group-items, // override CUI so nav-group-items show in narrow mode
	&.sidebar-narrow-unfoldable:not(.show, :hover) .nav-group-items {
		height: auto !important;
		visibility: visible !important; // !important is not currently necessary on this, but CUI could change it
		opacity: 1 !important; // !important is not currently necessary on this, but CUI could change it

		.nav-link {
			// when narrow, remove the default padding set in the next rule.
			// the borders defined above still provide a bit of offset in this case.
			padding-left: 0;
		}
	}

	// the individual buttons in a group (overrides something CUI? - spacing is odd when narrow otherwise)
	.sidebar-nav .nav-group-items .nav-link {
		// even though this is the default padding, CUI does something strange to it with `padding-inline-start` so we need to override it here
		padding-left: var(--cui-sidebar-nav-link-padding-x);
		// smoother transition for icons when expanding the sidebar. The exact number isn't critical.
		transition: padding-left 0.1s;
		justify-content: center;

		&.nav-group-toggle {
			padding-left: 0;
		}
	}

	.sidebar-footer2 {
		justify-content: left;
		padding: 0.5rem 1rem;

		.sidebar-footer-toggler {
			display: flex;
			overflow: hidden;

			background: none !important;
			border: none !important;

			&:hover {
				background: none !important;
				border: none !important;
			}

			.nav-icon-wrapper {
				cursor: pointer;

				display: flex;
				align-items: center;

				.sidebar-toggler {
					display: block;
					width: 100%;
				}
			}

			.version,
			.version-sub {
				display: block;

				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.version {
				font-size: 0.95em;
				color: #aaa;
				display: block;
			}
			.version-sub {
				font-size: 0.85em;
				color: #888;
			}
		}
	}

	// the scrolling container in the sidebar:
	.nav-main-scroller {
		padding-bottom: 20px;
	}

	// when the sidebar is narrow, make more space for the contents and let centering create what margins there will be.
	&.sidebar-narrow-unfoldable:not(.show, :hover) .nav-main-scroller,
	&.sidebar-narrow .nav-main-scroller {
		scrollbar-width: thin;
		padding-left: 0;
		padding-right: 0;
		align-self: center;
	}

	.sidebar-bottom-shadow-container {
		position: relative;

		.sidebar-bottom-shadow {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
			pointer-events: none;
			z-index: 1;
		}
	}
}
