.page-tablet {
	background-color: #181818;
	color: #d69e2e;

	height: 100vh;

	.scroller {
		height: 100%;
		overflow-y: auto;

		h1 {
			padding: 0 25px;
		}
	}

	.container-fluid {
		// max-width: 1200px;
		height: 100%;
		margin: 0 auto;
	}

	.btn.open-config,
	.btn.close-config {
		float: right;
	}

	.header {
		padding: 10px 10px;
	}

	.configure {
		position: sticky;
		top: 0;
		z-index: 100;

		border: 1px solid #555;
		background-color: #222;
		padding: 10px;
		margin: 10px 0 10px;
	}

	.btn {
		margin: 0 5px;
		color: #d69e2e;
		border: 1px solid #d69e2e;

		&:disabled {
			opacity: 0.5;
		}
	}

	.cycle-layout {
		display: grid;
		grid-template-rows: 1fr auto 1fr;

		width: 100%;
		height: 100%;

		.cycle-heading {
			h1 {
				padding: 0 25px;
			}

			.btn {
				float: right;
			}
		}
	}

	.button-zone {
		display: grid;
		grid-auto-flow: row;
		grid-auto-rows: 1fr;
		grid-auto-columns: 1fr;

		width: 100%;

		.button-control {
			border: none;
			position: absolute;
			float: left;
		}

		.button-control img {
			max-width: 150px;
			max-height: 150px;
		}

		&.button-armed .buttongrid-row {
			background-color: rgba(255, 0, 0, 0.5);
		}

		.buttons-holder {
			position: relative;
		}

		.buttongrid-row {
			display: grid;
			// grid-auto-flow: column;
			grid-auto-columns: 1fr;
			transition: background-color 0.05s ease-in-out;
			background-color: transparent;

			img:hover {
				border: 1px solid rgba(255, 255, 255, 0.3);
			}
		}

		.page-heading {
			grid-column: 1/-1;
		}

		.page-buttons {
			position: relative;
		}

		.page-in-view-tester {
			position: absolute;
			float: left;
			width: 100%;
		}
	}
}
