@use 'sass:color';
// NOTE: files other than App.scss should load this file ONLY if they need the non-@coreui variables defined in part 2, below.
//   Otherwise they should load @coreui, which will use the values shown here.

// PART 1:
// Define variables that should override @coreui defaults:
// note that Sass may issue a strange error message if a variable specified here is not already in coreui. (As of Sass 1.89)
$_private-header-bg: #d50215; // note: this is currently used for $primary as well as header
// coreui doesn't define a header-brand-bg, so define it here and use it for sidebar, which coreui does define
$header-brand-bg: color.adjust($_private-header-bg, $lightness: -10%);
@forward '@coreui/coreui/scss/coreui' with (
	$primary: $_private-header-bg,
	$secondary: #ccc,
	$body-bg: #333,
	$light: #e9e9e9,

	$header-bg: $_private-header-bg,
	$header-color: #fff,
	$header-brand-color: #fff,
	$header-brand-hover-color: #fff,
	$sidebar-bg: #111,
	$sidebar-brand-bg: $header-brand-bg,
	$form-switch-color: #fff,
	$form-switch-checked-color: #fff,
	$form-switch-focus-color: #fff,
	$form-switch-widths: (
		xl: (
			width: 2.75em,
			height: 1.5em,
		),
	)
	!default,

	$btn-font-size-sm: 12px,
	$btn-font-size: 0.9rem,

	$modal-content-bg: #fff,
	$table-bg: #fff,
	$dropdown-bg: #fff,

	$card-bg: #f7f7f7,

	$sidebar-nav-link-padding-x: 0.5rem
);

// PART 2:
// Define variables that do *not* have defaults in @coreui

// note $header-border appears to be defined but never used
$header-border: (
	bottom: none,
);

$variable-padding: 1px 3px 0px;

//dragging style works differently for "regular tables" vs. action/feedback lists.
// Regular tables use the standard HTML drag image, which doesn't appear to be part of the DOM (or even the window)
// so we use an opaque background for those, since transparency is applied automatically.
// Action lists use an image that is part of the DOM, so we have to explicitly apply transparency...
@mixin dragging-style($blur: 1px, $alpha: 1) {
	// clearly highlight the item being dragged:
	background-color: #{rgba(#f5f2fa, $alpha)};
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	// outline with negative offset (instead of border) ensures that the other elements aren't affected
	outline: 2px solid rgba(0, 0, 0, 0.5);
	outline-offset: -2px;
	border-radius: 4px;
	filter: blur($blur);
}
