.wizard h2 {
	margin: 0;
}

.wizard h2 img {
	padding-right: 0.5em;
	margin-top: -0.1em;
}

.wizard h4 {
	margin: 0 0 0.5rem 0;
}

.wizard h5 {
	margin: 0 0 0.5rem 0;
}

.wizard p {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.wizard li {
	font-size: 1em;
}

.wizard .alert-element {
	margin-top: 8px;
}
