.sketchPicker {
	padding: 10px 10px 0;
	box-sizing: initial;
	background: #fff;
	border-radius: 4px;
	box-shadow:
		0 0 0 1px rgba(0, 0, 0, 0.15),
		0 8px 16px rgba(0, 0, 0, 0.15);
}

.sketchSaturation {
	width: 100%;
	padding-bottom: 75%;
	position: relative;
	overflow: hidden;
}
.sketchControls {
	display: flex;
}
.sketchSliders {
	padding: 4px 0;
	flex: 1;
}
.sketchColor {
	width: 24px;
	height: 10px;
	position: relative;
	margin-top: 4px;
	margin-left: 4px;
	border-radius: 3px;
}
.sketchColorWithAlpha {
	height: 24px;
}
.sketchActiveColor {
	position: absolute;
	inset: 0px;
	border-radius: 2px;
	background: rgba(var(--color-rgb-r), var(--color-rgb-g), var(--color-rgb-b), var(--color-rgb-a));
	box-shadow:
		inset 0 0 0 1px rgba(0, 0, 0, 0.15),
		inset 0 0 4px rgba(0, 0, 0, 0.25);
}
.sketchHue {
	position: relative;
	height: 10px;
	overflow: hidden;
}

.sketchAlpha {
	position: relative;
	height: 10px;
	margin-top: 4px;
	overflow: hidden;
}
