.callout2-element {
	padding: 1rem 1rem;
	margin: 1rem 0;
	border: var(--border-width) solid var(--color-border);
	border-inline-start-color: var(--callout2-border-left-color);
	border-inline-start-width: calc(var(--border-width) * 4);
	border-radius: var(--radius);
}

.callout2-primary {
	--callout2-border-left-color: var(--color-primary);
}

.callout2-secondary {
	--callout2-border-left-color: var(--color-secondary);
}

.callout2-success {
	--callout2-border-left-color: var(--color-success);
}

.callout2-danger {
	--callout2-border-left-color: var(--color-danger);
}

.callout2-warning {
	--callout2-border-left-color: var(--color-warning);
}

.callout2-info {
	--callout2-border-left-color: var(--color-info);
}

.callout2-light {
	--callout2-border-left-color: var(--color-light);
}

.callout2-dark {
	--callout2-border-left-color: var(--color-dark);
}
