.field-with-expression {
	display: flex;
	gap: 0.5rem;

	.expression-field {
		flex-grow: 1;
		min-width: 0;

		align-self: center;
	}

	.expression-toggle-button {
		justify-self: flex-end;
		align-self: stretch;

		.button {
			height: 100%;
			width: 3em;
		}
	}
}
