.text-input-field {
	/* Future: replace this with css we control */

	&:focus {
		/* Dont change background color on focus */
		background-color: var(--color-input-bg);
	}

	&:read-only {
		background-color: var(--color-input-readonly-bg);
	}

	&.invalid-value {
		color: var(--color-input-invalid);
	}

	&.has-validity-icon {
		/* Leave room for the validity tick/cross overlay */
		padding-right: 1.75rem;
	}

	&.no-focus {
		outline: none;
		box-shadow: none;
	}
}
