name: Format check
on: [push, pull_request]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.node-version'
      - name: yarn install
        run: |
          corepack enable

          # try and avoid timeout errors
          yarn config set httpTimeout 100000

          yarn install --immutable

      - name: check format
        run: |
          yarn prettier --check .

      - name: run linter
        run: |
          yarn build:ts
          yarn lint

  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    env:
      CLICOLOR: 1
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Spell Check Repo
        uses: crate-ci/typos@v1
