name: Build binaries
on: [push]

jobs:
  linux64:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn update and lindist
        run: |
          yarn update

          # verify that every module is runnable
          node tools/verify-module-build.mjs .

          yarn run lindist

          # verify that every module is runnable
          node tools/verify-module-build.mjs electron-output/linux-unpacked/resources/app.asar

          # manually tar it, to preserve the symlinks
          cd electron-output
          VERSION=$(node -e "console.log(require('../package.json').version)")
          mv linux-unpacked companion-$VERSION
          tar -cvzf companion-$VERSION.tar.gz companion-$VERSION
      - name: rename and upload stuff
        run: node ./tools/build_rename_git.js
        env:
          CI_BUILD_OS: linux
          BITFOCUS_S3: ${{ secrets.BITFOCUS_S3 }}
          BITFOCUS_KEY: ${{ secrets.BITFOCUS_ACCESS }}
          BITFOCUS_SECRET: ${{ secrets.BITFOCUS_SECRET }}

  osx:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn update and macdist
        run: |
          # try and avoid timeout errors
          yarn config set network-timeout 100000 -g

          yarn update

          # verify that every module is runnable
          node tools/verify-module-build.mjs .

          yarn run macdist

          # verify that every module is runnable
          node tools/verify-module-build.mjs "electron-output/mac/Companion.app/Contents/Resources/app.asar"
      - name: rename and upload stuff
        run: node ./tools/build_rename_git.js
        env:
          CI_BUILD_OS: osx
          CI_BUILD_ARCH: x64
          BITFOCUS_S3: ${{ secrets.BITFOCUS_S3 }}
          BITFOCUS_KEY: ${{ secrets.BITFOCUS_ACCESS }}
          BITFOCUS_SECRET: ${{ secrets.BITFOCUS_SECRET }}

  # osx-arm64:
  #   runs-on: macos-11
  #   strategy:
  #     matrix:
  #       node-version: [14.x]
  #   steps:
  #     - uses: actions/checkout@v1
  #     - name: Use Node.js ${{ matrix.node-version }}
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #     - name: yarn update and macarmdist
  #       run: |
  #         yarn update
  #         yarn run macarmdist
  #     - name: rename and upload stuff
  #       run: node ./tools/build_rename_git.js
  #       env:
  #         CI_BUILD_OS: osx
  #         CI_BUILD_ARCH: arm64
  #         BITFOCUS_S3: ${{ secrets.BITFOCUS_S3 }}
  #         BITFOCUS_KEY: ${{ secrets.BITFOCUS_ACCESS }}
  #         BITFOCUS_SECRET: ${{ secrets.BITFOCUS_SECRET }}

  win64:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: yarn update and windist
        run: |
          # This fixes it somehow, and without it we get no logs from any shell scripts which are run
          yarn config set script-shell bash

          yarn update

          # verify that every module is runnable
          node tools/verify-module-build.mjs .

          yarn run windist

          # verify that every module is runnable
          node tools/verify-module-build.mjs electron-output/win-unpacked/resources/app.asar
      - name: Sign Windows Binary
        uses: jonfriesen/windows-signer-action@v1.0.0
        env:
          NAME: Bitfocus
          DOMAIN: https://bitfocus.io
          BINARY: electron-output/companion-win64.exe
          WINDOWS_CERT: ${{ secrets.WINDOWS_CERT }}
          WINDOWS_KEY: ${{ secrets.WINDOWS_KEY }}
      - name: rename and upload stuff
        run: node ./tools/build_rename_git.js
        env:
          CI_BUILD_OS: win64
          BITFOCUS_S3: ${{ secrets.BITFOCUS_S3 }}
          BITFOCUS_KEY: ${{ secrets.BITFOCUS_ACCESS }}
          BITFOCUS_SECRET: ${{ secrets.BITFOCUS_SECRET }}
  
