name: Check types
on: [pull_request]

permissions:
  contents: read

jobs:
  check-types:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Prepare
        run: |
          corepack enable

          # try and avoid timeout errors
          yarn config set httpTimeout 100000

          yarn --immutable

          yarn build:ts

      - name: Check types
        run: |
          yarn check-types
